.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.mainc{
    min-height: 730px;
	background-image: url('../images/coork.jpg');
	background-repeat:repeat;
	}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*Note Main Css  created by luis chapoy */
	.foot{
		position:absolute;
		bottom:10%;
		font-size:.7em;
		right:5%;
	}
	
	.notes{
		  text-decoration:none;
		  color:#000;
		  background:#ffc;
		  display:block;
		  height:18em;
		  width:18em;
		  padding:1em;
		   /* Firefox */
		  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
		  /* Safari+Chrome */
		  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
		  -webkit-transform:rotate(3deg);
		  /* Opera */
		  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
		  transform:rotate(3deg);
		  overflow:auto;
		 
	}
	.notes{
	  margin:1em;
	  float:left;
	   list-style:none;
	}
	.nHeader{
		position:absolute;
		top:5%;
		right:3%;

	}
	.cDate{
		color:blue;
	}
	.eDate{
		color:red;
	}
	.glyphicon{
		background:#ffc;
		border:0px;
	}
	.glyphicon:hover{
		color: #FF00FF;
	}
	
    .ng-dirty.ng-invalid { background-color: lightpink; }

    .ng-valid { background-color: lightgreen; }
    span.error { color: red; font-weight: bold; }
	
	input.password { -webkit-text-security: disc; /* Default */ }