<div class="jumbotron">
  <div class="well">
  <h1>Spoiler Text</h1>
  <br>
  <p>
  Tim Thomas (Will Smith), while carelessly sending a text message while driving, 
  veers across the center line into oncoming traffic and causes a multi-car crash in 
  which seven people die: six strangers and his fiancée, Sarah Jenson (Robinne Lee).
  <span spoiler="hidden">Two years later, in a conscious bid for atonement, unable to live with what he did, 
  Tim sets out to save the lives of seven good people by donating his own vital organs, 
  a process that will be completed after his planned suicide.</span > A year after the crash, having 
  quit his job as an aeronautical engineer, Tim donates a lung lobe to his brother Ben 
  (Michael Ealy), an IRS field agent.<span spoiler="hidden"> He steals his brother's federal IRS identification 
  badge and credentials , puts his picture over Ben's, identifies himself by his brother's 
  name, and uses Ben's privileges to check out the financial backgrounds of further potential 
  candidates for his donations.</span> In each case he "interviews" them first to determine if 
  they are "good" people.
   </p>
  <p >
  In one case, the director of a hospice nursing home facility seeks a six-month extension 
  on his back taxes. <span spoiler="censored">Tim is unsure of the man's ethics, because he drives a BMW yet claims 
  to be insolvent. </span >To resolve the issue, Tim passionately asks a resident patient, an elderly 
  bedridden woman, to tell him whether he is a "good man," only to discover that the man is
  punishing the woman for not eating by not allowing the nurses to bathe her.
  </p>
	</div>
</div>
